* {
  box-sizing: border-box;
}

@font-face {
  font-family: "MyCustomFont";
  src: url(/fonts/3B0667_2_0.woff2);
}

:root {
  font-size: 62.5%;
}

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: #FFFFFF;
  font-family: "MyCustomFont";
}

p {
  line-height: 2.4rem;
}

ul {
  list-style: none;
}

form label {
  display: block;
  position: relative;
  /* top: 1.5rem; */
  top: 1.1rem;
  margin-bottom: -2.4rem;
  margin-left: 2.1rem;
  /* font-family: 'Nunito Sans', Arial, sans-serif; */
  font-size: 1.6rem;
  line-height: 2.4rem;
  font-weight: 400;
  color: #868F9E;
}

form input {
  width: 90%;
  /* font-family: 'Montserrat', Arial, sans-serif; */
  font-size: 1.6rem;
  font-weight: 500;
  color: #252634;
  line-height: 2.6rem;
  border: 1px solid #FFFFFF;
  padding: 1.8rem 2.1rem;
  outline: none;
  display: inline;
}

/* form input+span {
  position: relative;
  top: -15px;
  font-size: 2rem;
} */

.input-div {
  width: 100%;
  /* display: inline; */
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #252634;
  line-height: 2.6rem;
  border: 1px solid #E6E8ED;
  padding: 1.8rem 0 0 0;
  outline: none;
}

/* form div input {
  display: inline;
  width: 95%;
} */

form label+input {
  padding-top: 5.2rem;
}

.tooltip {
  display: inline;
}

.tooltip-text {
  display: none;
  position: absolute;
  background: #fff;
  color: #333;
  padding: 1rem;
  word-wrap: break-word;
}

.tooltip:hover span {
  display: inline-block;
  width: 20rem;
}