* {
  box-sizing: border-box;
}

html {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 44px;
  font-family: 'Montserrat',
    'Arial',
    sans-serif
}

p {
  line-height: 24px;
}

ul {
  list-style: none;
}

form label {
  display: block;
  position: relative;
  top: 15px;
  margin-bottom: -24px;
  margin-left: 21px;
  font-family: 'Nunito Sans', Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #868F9E;
}

form input {
  width: 100%;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #252634;
  line-height: 26px;
  border: 1px solid #E6E8ED;
  padding: 18px 21px;
  outline: none;
}

form label+input {
  padding-top: 52px;
}